body {
    color: black;
    background-color: #BBD0C3;
}

h1 {
    font-size: 50px;
    margin-right: auto;
    width: 250px;
    /*margin: top right bottom left
    You can also only use one or as many as you want
     */
    border: 10px solid white;
    padding: 10px;
    text-align: center;
}

main {
    font-size: 10px;
}

p {
    font-size: 24px;
}
a {
    color: white
}
/* comments */