<section class="relative w-full overflow-hidden">
  <div class="flex flex-col xl:flex-row items-center px-8 lg:justify-between">
    <!-- Left: Text -->
    <div
      class="w-full lg:flex-1 lg:max-w-4xl text-center lg:text-left text-black order-1"
    >
      <h1 class="text-3xl md:text-6xl lg:text-7xl xl:text-9xl font-semibold leading-tight">
        <span>"Always the </span>
        <span>stairs.</span>
        <span> Never the </span>
        <span>escalator."</span>
      </h1>
      <p class="text-right mt-4 md:mt-6 text-xl md:text-3xl lg:text-5xl">
        - Casey Neistat
      </p>
    </div>

    <!-- Right: Image -->
    <div class="h-full lg:flex-1 order-2 flex justify-center lg:justify-end">
      <div class="h-full">
        <img
          src="assets/hero.png"
          alt="Hero"
          class="w-full h-full object-cover object-right rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
